<h1 class="title">{{site.about_me_title}}</h1>
<p class="description" data-aos="fade-down">Hi My name is Rajat and I am from Goa,India 🏝</p>
<p class="description" data-aos="fade-down">I am a software developer</p>
<p class="description" data-aos="fade-down">An avid book reader ,into fitness ,investting and riding</p>
<p class="description" data-aos="fade-down">I blog random stuff on  <a class="highlight-link" target="_blank" rel="noreferrer"
  href="/blog">blog </a> and keep track of important commands related to linux,bash on<a class="social-link" aria-label="My Blog" target="_blank" rel="noreferrer"
  href="/blog/wiki"> wiki</a> </p>
  <p class="description" data-aos="fade-down"></p> My ideal day would be a ride on the beach wwatching the sunset with abeer in my one hand and book in the other</p>
<!-- <p class="description" data-aos="fade-down">{{site.about_me_description}}</p> -->
