<h1 class="title">{{site.about_me_title}}</h1>
<p class="description" data-aos="fade-down">Hi My name is Rajat Govekar and I am from Goa,India 🏝</p>
<p class="description" data-aos="fade-down">I am a software developer</p>
<p class="description" data-aos="fade-down">An avid book reader ,a riding enthusiast who is into fitness and investing</p>
<p class="description" data-aos="fade-down">I write random stuff on  my <a class="highlight-link" target="_blank" rel="noreferrer"
  href="/blog">blog </a> and keep track of important info related to linux,bash,programming on<a class="social-link" aria-label="My Blog" target="_blank" rel="noreferrer"
  href="https://copper-nebula-9f6.notion.site/Engineering-wiki-2c86eadc4df646ea9e910318d53c0bee"> wiki</a> </p>
  <p class="description" data-aos="fade-down"> My ideal day would be a ride on the beach watching the sunset with a coffee in my one hand and book in the other</p>
<!-- <p class="description" data-aos="fade-down">{{site.about_me_description}}</p> -->
